*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;0,1000;1,200;1,300;1,600;1,700;1,800;1,900&display=swap');

.page:not(.active) {
  display: none;
}
.page .active {
  display: block;
}

html {
  font-family: 'Lora',sans-serif;
  font-style: italic;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(250, 250, 250);
  max-width: 90%;
  margin: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

/* --------------------------------------------styles for navigation bar----------------------------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 120, 181);
}
nav ul {
  overflow: hidden;
  display: flex;
  align-items:flex-start;
  justify-content: right;
  flex-wrap: wrap;
  padding: 15px 5%;
}
  .logo {
    width: 85px;
    height: 80px;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 40px 15px;
  }

  nav ul li {
    margin: 1rem;
    display: inline-block;
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
  } 

  nav ul li a::after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: rgb(173, 35, 69);
    transition: 0.3s;
  }

  nav ul li a:hover::after {
    width: 100%;
  }
/*------------------------------------------------------Style for profile section---------------------------------------------*/
.profile {
  height: 300px;
  width: 300px;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.head-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
  padding-left: 1rem;
  border-bottom: 2px solid rgb(41, 120, 181);
  margin-bottom: 2rem;
}

.header-text h1 {
  margin-bottom: 1.5rem;
  font-size: 40px;
  color: rgb(41, 120, 181)
}
.header-text h3 {
  font-size: 20px;
  color: rgb(41, 120, 181)
}

/*------------------------------------------------------Style for About section---------------------------------------------*/
.container-about {
  grid-gap: 2rem;
  background-color: rgb(212, 221, 229);
  margin-top: 50px;
  padding-left:2rem;
  padding-right: 2rem;
}

.container-about .about-me {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 20px;
  color: rgb(173, 35, 69);
  justify-content: center;
  align-self: center;
  justify-items: center;
  text-align:center;

}
.div-about p {
  padding: 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}
.div-about br {
  margin-top: 50px;
}
.container-about .div-about ul {
  padding: 1rem;
  font-size: 20px;
  text-align: center;
  display: flex;
}
.container-about .div-about ul li {
  list-style: none;
  padding: 2rem;
  font-size: 60px;
  color:rgb(173, 35, 69);
  max-width: 100%;
  display: flex;
}
.container-about .div-about .div-title {
  color:rgb(41, 120, 181);
  font-weight: 600;
  text-align: center;
}
.div-about i {
  text-align: center;
}

/*-----------------------------------------------------------Portfolio section-------------------------------------------- */
.container-work {
  margin-top: 50px;
  color:rgb(41, 120, 181);
}
  .recent-project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    padding-top: 1rem;
  }

  .recent-project div {
    background-color: rgb(212, 221, 229);
    padding: 20px;
    transition: background 0.3s, transform 0.2s;
    color: #000;
  }

  .recent-project div i {
    font-size: 40px;
    color:rgb(173, 35, 69);
  }
  .recent-project div h3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .recent-project div a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-bottom: auto;
    margin-top: 40px;
  }
  .recent-project div:hover {
    background-color:rgb(41, 120, 181);
    transform: scale(1.05);
    cursor: pointer;
    color: #fff;
  }

  /* ------------------------------------------------------Live work section------------------------------------------------ */
  .container-live-work {
    margin-top: 50px;
    border-bottom: 2px solid rgb(41, 120, 181);
    padding-bottom: 30px;
  }
    .container-live-work img {
      max-width: 100%;
      height: 250px;
      border-radius: 5px;
    }
    .container-live-work .live-images {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 30px;
      margin-top: 2rem;
    } 
  .work {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    color: #fff;
  }
  .container-live-work h2 {
    color:rgb(41, 120, 181);
    margin-top: 50px;
  }
  .each-work {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.7), rgb(41, 120, 181));
    border-radius: 5px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
  }
  .each-work h3 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  .each-work i {
    color: rgb(41, 120, 181);
    background: #ffffff;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 18px;
    padding: 15px;
  }
  .work img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.5s;
  }
  .work:hover img {
    transform: scale(1.1);
  }
  .work:hover .each-work {
    height: 100%;
  }
  .container-live-work button {
    background-color: rgb(41, 120, 181);
    padding: 1rem;
    border: none;
    font-size: 20px;
    margin-left: 45%;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
  }
  .container-live-work a {
    text-decoration: none;
    color: #fff;
  }
  /* ------------------------------------------------------------Contact section--------------------------------------------- */
  .container-contact {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border-bottom: 1px solid rgb(41, 120, 181);
    padding-bottom: 1.5rem;
  }
    .contact-left h2 {
      font-size: 25px;
      padding-bottom: 1rem;
      font-weight: 700;
      text-align: center;
      color:rgb(41, 120, 181);
    }
    .contact-left i {
      margin-right: 5px;
      font-size: 15px;
      margin-top: 0.5rem;
      color:rgb(41, 120, 181); 
    }
    .contact-left a {
      text-decoration: none;
      color: #ffffff;
    }
    .contact-left p {
      font-size: 10px;
    }
    .social-media-link i {
      margin-top: 10px;
      color:rgb(41, 120, 181);
      padding-top: 5px;
      padding-right: 5px;
      font-size: 25px;
      display: inline-block;
      transition: background 0.5s, transform 0.3s;
    }
    .social-media-link i:hover {
      color:rgb(173, 35, 69);
      transform: scale(1.2);
    }
  .contact-right form {
    width: 100%;
  }
  form input,  form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background:  #eae8e8;
    padding: 5px;
    margin: 5px;
  }
  form button {
    background-color: rgb(41, 120, 181);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 45%;
    margin-right: auto;
    border-radius: 5px;
    font-size: 20px;
  }

  footer {
    margin: 2rem;
    text-align: center;
    font-size: 12px;
    font-style: italic;
  }

/* ---------------------------------------------------Fetch cute dog image---------------------------------------------------- */
.fetch-image {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
#image {
  max-width: 90%;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}
.fetch-image h2 {
  margin-top: 50px;
  color:rgb(173, 35, 69);
  text-align: center;
}
.fetch-image .buttonClick {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 1rem;
  background-color: rgb(41, 120, 181);
  color:rgb(250, 250, 250);
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}

/*------------------------------------------------------Responsive design--------------------------------------------*/
nav .fa-solid {
  display: none;
}
@media (max-width: 660px) {
  body {
    margin: 0 20px;
  }
  nav .fa-solid {
    display: block;
    font-size: 20px;
  } 
  nav ul {
    position: fixed;
    background:rgb(212, 221, 229);
    top: 0;
    right: -180px;
    width: 180px;
    height: 100vh;
    padding-top: 50px;
    flex-direction: column;
  }
  nav ul li {
    margin: 25px;
  }
  nav ul li a {
    color:rgb(41, 120, 181);
  }
  nav .fa-solid .fa-bars{
    top: 25px;
    left: 25px;
  }
  .fa-bars:hover {
    cursor: pointer;
  }
  .fa-bars {
    padding: 2rem 1rem;
    color: #fff;
  }
  .fa-xmark {
    padding-left: 45px;
    padding-top: 30px;
    color:rgb(173, 35, 69);
  }
  .fa-xmark:hover {
    cursor: pointer;
  }
  .head-section {
    grid-template-columns: 1fr;
    gap: 50px;
  } 
  .container-about {
    display: flex;
    flex-direction: column;
  }
  .container-about .about-me-more {
    padding: 0 30px;
    margin-top: 0;
  }
  .container-about .about-me {
    margin-top: 30px;
  }
  .container-contact {
    display: flex;
    flex-direction: column;
  }
  .contact-right form {
    padding-top: 20px;
  }
  .contact-right button {
    margin-top: 20px;
  }
  .div-about .div-title {
    margin-top: 20px;
  }
}

@media (max-width: 330px) {
  .profile {
      height: 150px;
      width: 150px;
  }
  .header-text h1 {
    font-size: 25px;
  }
  .header-text h3 {
    font-size: 15px;
  } 
  .container-about .about-me {
    font-weight: 500;
    margin: 15px 0 0 0;
    
  }
  .div-about .about-me-more {
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0 0 0;
  }
  .container-about .div-about ul li {
    font-size: 30px;
    margin-left: 5px;
  }

  .container-work h2 {
    font-size: 20px;
  }
  .recent-project div p {
    font-size: 15px;
  }
  .container-live-work h2, .container-contact h2 {
    font-size: 20px;
  }
  form button {
    font-size: 15px;
  }
  footer {
    font-size: 10px;
  }
}
